
.statWidget {
    text-align: left;
    width: 100%;
    overflow: auto;
}

.statWidgetGroup {
    width: 100%;
    overflow: auto;
    clear: both;
}

.floatedStatWidget {
    width: 50%;
    float: left;

}   

.floatedChartDiv {
    float: left;
}

.statWidgetText {
}
