Beaker==1.5.4
BeautifulSoup==3.1.0.1
FormEncode==1.2.4
Mako==0.4.2
MarkupSafe==0.15
PIL==1.1.7
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.4.2
Pygments==1.4
Pylons==1.0
Routes==1.12.3
SQLAlchemy==0.6.3
Tempita==0.5.1
WebError==0.10.3
WebHelpers==1.3
WebOb==1.1rc1
WebTest==1.2.4
Werkzeug==0.6.2
decorator==3.3.1
distribute==0.6.10
nose==1.1.2
parsedatetime==0.8.7
pyOpenSSL==0.10
pydns==2.3.4
pysqlite==2.6.0
python-dateutil==1.4.1
python-openid==2.2.4
reportlab==2.5
scgi==1.13
simplejson==2.1.6
wsgiref==0.1.2
xappy==0.5
